@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	direction: rtl;
}

#nprogress .bar {
    @apply dark:bg-primary-foreground bg-primary !important;
}

[data-melt-dialog-close] {
	@apply right-auto;
	@apply left-4;
}

@layer base {
	:root {
		--background: 189 31% 99%;
		--foreground: 189 63% 5%;
		--card: 189 31% 98%;
		--card-foreground: 189 63% 4%;
		--popover: 189 31% 98%;
		--popover-foreground: 189 63% 4%;
		--primary: 189 21% 11%;
		--primary-foreground: 189 21% 71%;
		--secondary: 159 21% 11%;
		--secondary-foreground: 159 21% 71%;
		--accent: 219 21% 11%;
		--accent-foreground: 219 21% 71%;
		--destructive: 9 82% 41%;
		--destructive-foreground: 0 0% 100%;
		--muted: 159 17% 95%;
		--muted-foreground: 159 13% 27%;
		--border: 189 14% 93%;
		--input: 189 14% 93%;
		--ring: 189 21% 11%;
		--radius: 1rem;
	}
	
	.dark {
		--background: 189 30% 4%;
		--foreground: 189 20% 99%;
		--card: 189 30% 5%;
		--card-foreground: 0 0% 100%;
		--popover: 189 30% 5%;
		--popover-foreground: 0 0% 100%;
		--primary: 189 21% 11%;
		--primary-foreground: 189 21% 71%;
		--secondary: 159 21% 11%;
		--secondary-foreground: 159 21% 71%;
		--accent: 219 21% 11%;
		--accent-foreground: 219 21% 71%;
		--destructive: 9 82% 48%;
		--destructive-foreground: 0 0% 100%;
		--muted: 159 17% 8%;
		--muted-foreground: 159 13% 73%;
		--border: 189 14% 15%;
		--input: 189 14% 15%;
		--ring: 189 21% 11%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}